In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
data = pd.DataFrame([[5,0,30,25],[0,5,10,45],[-10,5,25,55]],index = ['A','B','C'])
data.columns = ['recession','no-growth','moderate-growth','high-growth']
regret = pd.DataFrame(np.zeros(data.shape),index = ['A','B','C'])
regret.columns = data.columns
data

   recession  no-growth  moderate-growth  high-growth
A          5          0               30           25
B          0          5               10           45
C        -10          5               25           55

In [3]:
for i in range(data.shape[1]):
    regret.iloc[:,i] = data.iloc[:,i].max() - data.iloc[:,i]
regret

   recession  no-growth  moderate-growth  high-growth
A          0          5                0           30
B          5          0               20           10
C         15          0                5            0

In [4]:
# Returns the strategies with minimum of maximum regret of individual strategies
maxregs = regret.apply(max,axis = 1)
print("Maximum regrets are \n",maxregs)
maxregs[maxregs==min(maxregs)].index

Maximum regrets are
 A    30
B    20
C    15
dtype: int64

Index(['C'], dtype='object')